.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header.pos-relative
            a.navbar-brand.icon-home.navbar-home.navbar-cur(href="/") 小腾博站
            a.navbar-brand.navbar-home(href="/") 博客
            a.navbar-brand.navbar-home(href="/") 关于我