.navbar.navbar-default.navbar-fixed-left
    .col-left
        .face-area.pos-relative
            .face-img
                img(src="/images/base/face.jpg")
        .navbar-header.pos-relative
            h1.text-center
              a.icon-home.navbar-home(href="/") 小腾博站
            a.navbar-home(href="/") 博客
            a.navbar-home(href="/") 关于我