link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/layout/main.css",rel="stylesheet")
link(href="/Font-Awesome-3.2.1/css/font-awesome.min.css",rel="stylesheet")
link(href="/Font-Awesome-3.2.1/css/font-awesome-ie7.min.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/ueditor/ueditor.config.js")
script(src="/ueditor/ueditor.all.min.js")
script(src="/ueditor/lang/zh-cn/zh-cn.js")
