extends ../layout

block content
    .col-main
        .container
            .row
                .col-md-12
                   article.article
                        h1
                           a(href="/blog/#{blog._id}") #{blog.title}
                        div.content
                            p  !{blog.content}
                        div.article-info