extends ../layout

block content
    .container.mgTop70
        .row
            .col-md-12
               article.article
                    h1
                       a(href="/") 原创文章
                    div.content
                        p  思念文庄水电费水电费水电费是的
                    div.article-info
                    div.readmore
                        a(href="/")+阅读全文
    script(src="/js/admin.js")